:root {
  /* アクセントカラー */
  --accent-primary: #06C755;
  --accent-primary-sub: #D6FFE7;
  --accent-secondary: #F07400;

  /* サーフェスカラー */
  --surface-accent-1: #06C755;
  --surface-accent-2: #47C77B;
  --surface-accent-sub: #2E9E24;
  --surface-base-1: #3F3F46;
  --surface-base-2: #71717A;
  --surface-base-3: #A1A1AA;
  --surface-disabled: #D4D4D8;

  /* 標準色 */
  --black-default: #000000;
  --white-default: #ffffff;
}
